streamlit==1.32.0
pandas
plotly==5.19.0
scikit-learn
psycopg2-binary==2.9.9
bcrypt==4.1.2
pytesseract==0.3.10
Pillow==10.2.0
pdf2image==1.17.0
opencv-python-headless
numpy==1.26.4
requests==2.31.0
python-dotenv==1.0.1
